body {
    font-family:"Open Sans",Arial,sans-serif;
}

h1,h2,.rst-content .toctree-wrapper p.caption,h3,h4,h5,h6,legend {
 font-family:"Open Sans",Arial,sans-serif;
}

.wy-nav-side {
    background: #00a930;
    color: white;
}

.wy-side-nav-search {
    background: white;
}

.wy-side-nav-search > div.version {
    color: grey;
}


.wy-side-nav-search a {
    color: #00a930;
}

